.notice{
    width: 350px;
    height: 70px;
    background-color: darkblue;
    position: absolute;
    top: 80px;
   right: 0%;
    z-index: 100;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s ease;
   visibility: hidden;
   opacity: 0;
   font-size: 19px;
   border-radius: 18px;
}
.actives{
   right: 0;

    animation: manh 0.5s forwards linear;
}
@keyframes manh{
    0%{ right: 0%;
        visibility: hidden;
        opacity: 0;
    }

    100%{ right: 2%;
        visibility: visible;
        opacity: 1;
    }
}
.showw{
    opacity: 1;
}
.form-control-sm:nth-child(2){
    float: right;
    width: 200px !important;
}
.activess
{
    background-color: #dddeee;
    color: white !important;
    border-radius: 10px;
}
.abrands{
    color: white;
    text-decoration: none !important;
}
.abrands:hover{
    color: white;
}
.borderss{
    border:1px solid white;
}
.bordersss{
    border:1px solid white;
    margin-bottom: 7px;
}
.rowaa{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* */
.runs{
    position: absolute;
    width: 50px;
    height: 50px;
    top: -40px;
    z-index: 10;
    right: 13px;
    border-radius: 100% !important;
    padding: 10px !important;
}
.inputruns{
    position: absolute;
    outline: none;
    width: 86% !important;
    left: 13px;
    bottom: -42px;
    padding: 2px 20px !important;
}
.showws{
    width: 112px;
    height: 123px;
    border: 1px solid white;
}
.bnrn{
    color: white !important;
}
.aiamge{
    width: 112px;
    height: 123px;
}
.imt{
    width: 70% !important;
}

